Repository 37bytes/public-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0 packages

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,cjs,cts,mjs,mts,css,json}": [
    "prettier --write"
  ],
  "*.{js,ts,jsx,tsx,mjs,mts,cjs,cts}": [
    "eslint --max-warnings=0 packages"
  ]
}

chore(code-style): bump biome 2.4.13, prettier 3.8.3, typescript 6.0.3
  packages/code-style/biome/config.json
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(code-style): bump @typescript-eslint/* to 8.59.0
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(code-style): bump small ESLint plugin patches and globals
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(code-style): bump oxlint suite to 1.61.0
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(code-style): bump stylelint 17.9.0, stylelint-order 8.1.1
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(code-style): release 0.0.3
  packages/code-style/CHANGELOG.md
  packages/code-style/package.json
Due: prettier --write

fix(code-style): include .oxlintrc.json in build:oxlint prettier pass
  packages/code-style/oxlint/build.js
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

docs(code-style): document TypeScript 7 (Native Preview) compatibility
  docs/tech-debt.md
  packages/code-style/README.md
Due: none

docs(code-style): tighten TypeScript 7 side-by-side recipe
  packages/code-style/README.md
Due: none

refactor(code-style)!: rename factory exports to create* convention
  packages/code-style/CHANGELOG.md
  packages/code-style/README.md
  packages/code-style/__tests__/fsd-e2e.test.js
  packages/code-style/eslint/__tests__/restricted-imports.test.js
  packages/code-style/eslint/browser-features.js
  packages/code-style/eslint/config.js
  packages/code-style/eslint/fsd.js
  packages/code-style/eslint/index.js
  packages/code-style/eslint/restricted-imports.js
Due: prettier --write, eslint --max-warnings=0 packages

refactor(code-style)!: tighten nodeEnvOverride to name-based convention
  packages/code-style/CHANGELOG.md
  packages/code-style/eslint/config.js
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): relax nodeEnvOverride for bootstrap-phase patterns
  packages/code-style/CHANGELOG.md
  packages/code-style/eslint/config.js
Due: prettier --write, eslint --max-warnings=0 packages

refactor(code-style)!: split Node.js preset along role axis
  core/bundler/eslint.config.js
  eslint.config.js
  packages/code-style/CHANGELOG.md
  packages/code-style/README.md
  packages/code-style/__tests__/integration.test.js
  packages/code-style/eslint.config.js
  packages/code-style/eslint/config.js
  packages/code-style/eslint/index.js
  packages/code-style/eslint/rules/node.js
  packages/code-style/llms.txt
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): add parity rule collectors for eslint/oxlint/biome
  packages/code-style/__tests__/parity/collect-rules.check.js
  packages/code-style/__tests__/parity/collect-rules.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): treat files-scoped offs as per-glob narrowing in parity collectors
  packages/code-style/__tests__/parity/collect-rules.check.js
  packages/code-style/__tests__/parity/collect-rules.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): harden severity handling in parity collectors
  packages/code-style/__tests__/parity/collect-rules.check.js
  packages/code-style/__tests__/parity/collect-rules.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): add explicit cross-linter rule-equivalence mapping
  packages/code-style/__tests__/parity/rule-equivalence.check.js
  packages/code-style/__tests__/parity/rule-equivalence.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): fix mapping semantics and biome override collection
  packages/code-style/__tests__/parity/collect-rules.check.js
  packages/code-style/__tests__/parity/collect-rules.js
  packages/code-style/__tests__/parity/rule-equivalence.check.js
  packages/code-style/__tests__/parity/rule-equivalence.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): cover reverse-mapping branches and document many-to-one reverses
  packages/code-style/__tests__/parity/rule-equivalence.check.js
  packages/code-style/__tests__/parity/rule-equivalence.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): add known-gaps allowlist seed for parity tests
  packages/code-style/__tests__/parity/known-gaps.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): scope known-gaps per tool and fix no-self-import oxlint coverage
  packages/code-style/__tests__/parity/known-gaps.js
  packages/code-style/__tests__/parity/rule-equivalence.check.js
  packages/code-style/__tests__/parity/rule-equivalence.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): add Layer 1 static parity checks (red baseline expected)
  packages/code-style/__tests__/parity-static.check.js
  packages/code-style/__tests__/parity/biome-domain-rules.json
  packages/code-style/__tests__/parity/generate-biome-domain-rules.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): clean Layer 1 baseline artifacts and harden domain generator
  packages/code-style/__tests__/parity-static.check.js
  packages/code-style/__tests__/parity/biome-domain-rules.json
  packages/code-style/__tests__/parity/generate-biome-domain-rules.js
  packages/code-style/__tests__/parity/rule-equivalence.check.js
  packages/code-style/__tests__/parity/rule-equivalence.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): add parity mini-project fixtures from audit findings
  packages/code-style/__tests__/fixtures/parity/nextjs/app/dashboard/layout.tsx
  packages/code-style/__tests__/fixtures/parity/nextjs/app/dashboard/page.tsx
  packages/code-style/__tests__/fixtures/parity/nextjs/parity-nextjs-biome-only.tsx
  packages/code-style/__tests__/fixtures/parity/nextjs/parity-nextjs-sync-scripts.tsx
  packages/code-style/__tests__/fixtures/parity/nodejs-runtime/__tests__/parity-node-testing.test.ts
  packages/code-style/__tests__/fixtures/parity/nodejs-runtime/parity-node.js
  packages/code-style/__tests__/fixtures/parity/nodejs-runtime/parity-node.ts
  packages/code-style/__tests__/fixtures/parity/nodejs-tool/__tests__/parity-tool-testing.test.ts
  packages/code-style/__tests__/fixtures/parity/nodejs-tool/parity-tool.ts
  packages/code-style/__tests__/fixtures/parity/spa/__tests__/parity-testing.test.ts
  packages/code-style/__tests__/fixtures/parity/spa/parity-imports.ts
  packages/code-style/__tests__/fixtures/parity/spa/parity-javascript.ts
  packages/code-style/__tests__/fixtures/parity/spa/parity-react.tsx
  packages/code-style/__tests__/fixtures/parity/spa/parity-stories.stories.ts
  packages/code-style/__tests__/fixtures/parity/spa/parity-typescript.ts
  packages/code-style/__tests__/fixtures/parity/tsconfig.json
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): guard test-script globs against silent test loss
  packages/code-style/__tests__/test-discovery.test.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): add Layer 2 preset fixture parity checks (red baseline expected)
  packages/code-style/__tests__/parity-presets.check.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): harden Layer 2 parsers and stabilize diff output
  packages/code-style/__tests__/parity-presets.check.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): wire test:parity script and capture red baseline
  docs/superpowers/research/2026-06-07-red-baseline.txt
  packages/code-style/package.json
Due: prettier --write

test(code-style): fix parity mapping artifacts and reverse-check scope
  docs/superpowers/research/2026-06-07-baseline-after-A.txt
  packages/code-style/__tests__/parity-static.check.js
  packages/code-style/__tests__/parity/generate-biome-domain-rules.js
  packages/code-style/__tests__/parity/known-gaps.js
  packages/code-style/__tests__/parity/rule-equivalence.check.js
  packages/code-style/__tests__/parity/rule-equivalence.js
  packages/code-style/__tests__/test-discovery.test.js
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): restore reverse reds pending policy triage
  docs/superpowers/research/2026-06-07-baseline-after-A.txt
  packages/code-style/__tests__/parity-static.check.js
  packages/code-style/__tests__/parity/known-gaps.js
Due: prettier --write, eslint --max-warnings=0 packages

fix(code-style): close oxlint coverage drift against eslint presets
  packages/code-style/.oxlintrc.json
  packages/code-style/oxlint/build.js
  packages/code-style/oxlint/config.json
  packages/code-style/oxlint/infrastructure.js
  packages/code-style/oxlint/rules/javascript.js
Due: prettier --write, eslint --max-warnings=0 packages

fix(code-style): close biome coverage drift against eslint presets
  packages/code-style/__tests__/parity/known-gaps.js
  packages/code-style/__tests__/parity/rule-equivalence.js
  packages/code-style/biome/build.js
  packages/code-style/biome/config.json
  packages/code-style/biome/infrastructure.js
  packages/code-style/biome/rules/imports.js
  packages/code-style/biome/rules/javascript.js
  packages/code-style/biome/rules/react.js
  packages/code-style/biome/rules/testing.js
  packages/code-style/biome/rules/typescript.js
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): promote tool-enforced rules into eslint presets
  packages/code-style/.oxlintrc.json
  packages/code-style/__tests__/parity/collect-rules.check.js
  packages/code-style/__tests__/parity/rule-equivalence.check.js
  packages/code-style/__tests__/parity/rule-equivalence.js
  packages/code-style/biome/eslint-overrides.js
  packages/code-style/biome/index.js
  packages/code-style/biome/infrastructure.js
  packages/code-style/eslint.config.js
  packages/code-style/eslint/rules/imports.js
  packages/code-style/eslint/rules/javascript.js
  packages/code-style/eslint/rules/nextjs.js
  packages/code-style/eslint/rules/react.js
  packages/code-style/eslint/rules/testing.js
  packages/code-style/eslint/rules/typescript.js
  packages/code-style/oxlint/config.json
  packages/code-style/oxlint/index.js
  packages/code-style/oxlint/infrastructure.js
  packages/code-style/oxlint/rules/imports.js
  packages/code-style/oxlint/rules/javascript.js
  packages/code-style/oxlint/rules/nextjs.js
  packages/code-style/oxlint/rules/testing.js
  packages/code-style/oxlint/rules/typescript.js
  packages/smart-url-search-params/src/SmartURLSearchParams.ts
  packages/vite-dynamic-environments/src/dynamicEnvironmentsSupport.ts
Due: prettier --write, eslint --max-warnings=0 packages

fix(code-style): trim tool-only rules per promotion-first policy
  packages/code-style/biome/config.json
  packages/code-style/biome/rules/react.js
  packages/code-style/biome/rules/testing.js
  packages/code-style/oxlint/rules/react.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): document confirmed engine gaps in parity allowlist
  packages/code-style/__tests__/parity/known-gaps.js
  packages/code-style/__tests__/parity/rule-equivalence.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): silence non-finding noise in parity fixtures
  packages/code-style/__tests__/fixtures/parity/nodejs-runtime/parity-node.js
  packages/code-style/__tests__/fixtures/parity/spa/parity-imports.ts
  packages/code-style/__tests__/fixtures/parity/spa/parity-react.tsx
  packages/code-style/__tests__/fixtures/parity/spa/parity-typescript.ts
  packages/code-style/__tests__/parity-presets.check.js
  packages/code-style/eslint/rules/nextjs.js
  packages/code-style/oxlint/config.json
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): wire green parity suite into root test
  docs/superpowers/research/2026-06-07-green-baseline.txt
  docs/superpowers/specs/2026-06-06-cross-linter-parity-tests-design.md
  packages/code-style/package.json
Due: prettier --write

fix(logstory): replace forEach with for-of per promoted code-style rules
  packages/logstory/src/createLogstory.ts
  packages/logstory/src/utils/applyConsoleProxyMiddleware.ts
Due: prettier --write, eslint --max-warnings=0 packages

chore(code-style): bump low-risk dependencies to latest
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(code-style): bump oxlint/biome/stylelint with config regeneration
  packages/code-style/.oxlintrc.json
  packages/code-style/__tests__/parity-presets.check.js
  packages/code-style/__tests__/parity/biome-domain-rules.json
  packages/code-style/__tests__/parity/rule-equivalence.js
  packages/code-style/biome/config.json
  packages/code-style/oxlint/build.js
  packages/code-style/oxlint/config.json
  packages/code-style/oxlint/rules/imports.js
  packages/code-style/oxlint/rules/nextjs.js
  packages/code-style/oxlint/rules/node.js
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0 packages
