Repository 37bytes/public-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0 packages

правило для проверки симметричности значения и сеттера в useState
  packages/eslint-config/.eslintrc.json
  packages/eslint-config/package.json
Due: prettier --write

37bytes/setup-dynamic-environment: WIP
  package-lock.json
  packages/setup-dynamic-environment/.gitignore
  packages/setup-dynamic-environment/.npmignore
  packages/setup-dynamic-environment/README.md
  packages/setup-dynamic-environment/package.json
  packages/setup-dynamic-environment/src/constants/ProcessArgument.ts
  packages/setup-dynamic-environment/src/index.ts
  packages/setup-dynamic-environment/src/utils/extractLaunchArguments.ts
  packages/setup-dynamic-environment/src/utils/replaceInDirectory.ts
  packages/setup-dynamic-environment/src/utils/replaceInFile.ts
  packages/setup-dynamic-environment/tsconfig.json
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/stylelint-config@1.0.12
  packages/stylelint-config/.stylelintrc.json
  packages/stylelint-config/README.md
  packages/stylelint-config/README_RU.md
  packages/stylelint-config/package.json
Due: prettier --write

issue-68 social-media-sharing - VK and WhatsApp sharing functions
  package-lock.json
  packages/social-media-sharing/.gitignore
  packages/social-media-sharing/.npmignore
  packages/social-media-sharing/README.md
  packages/social-media-sharing/package.json
  packages/social-media-sharing/src/index.ts
  packages/social-media-sharing/src/shareVk.ts
  packages/social-media-sharing/src/shareWhatsApp.ts
  packages/social-media-sharing/tsconfig.json
  packages/social-media-sharing/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

issue-68 Review fixes, vol. 1
  README.md
  README_RU.md
  package-lock.json
  packages/social-media-sharing/.gitignore
  packages/social-media-sharing/README_RU.md
  packages/social-media-sharing/package.json
Due: prettier --write

issue-68 social-media-sharing - VK and WhatsApp sharing functions (#10)
  README.md
  README_RU.md
  package-lock.json
  packages/social-media-sharing/.gitignore
  packages/social-media-sharing/.npmignore
  packages/social-media-sharing/README.md
  packages/social-media-sharing/README_RU.md
  packages/social-media-sharing/package.json
  packages/social-media-sharing/src/index.ts
  packages/social-media-sharing/src/shareVk.ts
  packages/social-media-sharing/src/shareWhatsApp.ts
  packages/social-media-sharing/tsconfig.json
  packages/social-media-sharing/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/smart-url-search-params
  README.md
  README_RU.md
  package-lock.json
  packages/smart-url-search-params/.npmignore
  packages/smart-url-search-params/README.md
  packages/smart-url-search-params/README_RU.md
  packages/smart-url-search-params/jest.config.js
  packages/smart-url-search-params/package.json
  packages/smart-url-search-params/src/SmartURLSearchParams.ts
  packages/smart-url-search-params/src/__tests__/SmartURLSearchParams.ts
  packages/smart-url-search-params/tsconfig.json
  packages/smart-url-search-params/tsup.config.ts
  packages/stylelint-config/package.json
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/smart-url-search-params@1.0.5
  packages/smart-url-search-params/package.json
  packages/smart-url-search-params/src/index.ts
  packages/smart-url-search-params/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/vite-build-time-environment
  package-lock.json
  packages/vite-build-time-environment/.npmignore
  packages/vite-build-time-environment/README.md
  packages/vite-build-time-environment/client.d.ts
  packages/vite-build-time-environment/package.json
  packages/vite-build-time-environment/src/buildTimeEnvironmentSupport.ts
  packages/vite-build-time-environment/tsconfig.json
  packages/vite-build-time-environment/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/vite-dynamic-environments@0.0.2
  package-lock.json
  packages/vite-dynamic-environments/.npmignore
  packages/vite-dynamic-environments/README.md
  packages/vite-dynamic-environments/client.d.ts
  packages/vite-dynamic-environments/package.json
  packages/vite-dynamic-environments/src/dynamicEnvironmentsSupport.ts
  packages/vite-dynamic-environments/src/index.ts
  packages/vite-dynamic-environments/tsconfig.json
  packages/vite-dynamic-environments/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/smart-url-search-params@1.0.6
  packages/smart-url-search-params/package.json
  packages/smart-url-search-params/src/SmartURLSearchParams.ts
Due: prettier --write, eslint --max-warnings=0 packages

обновление плагина dynamicEnvironmentsSupport
  package-lock.json
  packages/vite-dynamic-environments/README.md
  packages/vite-dynamic-environments/__tests__/.env.test
  packages/vite-dynamic-environments/__tests__/generateScript.test.ts
  packages/vite-dynamic-environments/__tests__/getDynamicEnvironment.test.ts
  packages/vite-dynamic-environments/__tests__/getLast.test.ts
  packages/vite-dynamic-environments/jest.config.cjs
  packages/vite-dynamic-environments/package.json
  packages/vite-dynamic-environments/src/dynamicEnvironmentsSupport.ts
  packages/vite-dynamic-environments/src/handlers/buildHandlers.ts
  packages/vite-dynamic-environments/src/handlers/bundleHandler.ts
  packages/vite-dynamic-environments/src/handlers/configHandler.ts
  packages/vite-dynamic-environments/src/handlers/htmlHandler.ts
  packages/vite-dynamic-environments/src/handlers/requestHandler.ts
  packages/vite-dynamic-environments/src/utils/generateScript.ts
  packages/vite-dynamic-environments/src/utils/getDynamicEnvironment.ts
  packages/vite-dynamic-environments/src/utils/getLast.ts
  packages/vite-dynamic-environments/tsconfig.json
Due: prettier --write, eslint --max-warnings=0 packages

перевод readme на английский
  packages/vite-dynamic-environments/README.md
  packages/vite-dynamic-environments/README_RU.md
Due: none

добавлены тесты, readme
  package-lock.json
  packages/setup-dynamic-environment/README.md
  packages/setup-dynamic-environment/README_RU.md
  packages/setup-dynamic-environment/__tests__/extractLauncArguments.test.ts
  packages/setup-dynamic-environment/__tests__/replaceInDirectory.test.ts
  packages/setup-dynamic-environment/__tests__/replaceInFile.test.ts
  packages/setup-dynamic-environment/jest.config.cjs
  packages/setup-dynamic-environment/package.json
Due: prettier --write, eslint --max-warnings=0 packages

обновление имени плагина
  packages/vite-dynamic-environments/README.md
  packages/vite-dynamic-environments/package.json
Due: prettier --write

@37bytes/vite-dynamic-environments@0.0.3
  packages/vite-dynamic-environments/package.json
  packages/vite-dynamic-environments/src/dynamicEnvironmentsSupport.ts
Due: prettier --write, eslint --max-warnings=0 packages

библиотека для единиц измерения
  package-lock.json
  packages/units-helper/__tests__/SizeUnit.ts
  packages/units-helper/__tests__/TimeUnit.ts
  packages/units-helper/jest.config.js
  packages/units-helper/package.json
  packages/units-helper/src/SizeUnit.ts
  packages/units-helper/src/TimeUnit.ts
  packages/units-helper/src/index.ts
  packages/units-helper/tsconfig.json
  packages/units-helper/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/units-helper@1.0.0: README and small fixes before publication
  package-lock.json
  packages/units-helper/.gitignore
  packages/units-helper/.npmignore
  packages/units-helper/README.md
  packages/units-helper/package.json
Due: prettier --write

@37bytes/units-hepler (#14)
  package-lock.json
  packages/units-helper/.gitignore
  packages/units-helper/.npmignore
  packages/units-helper/README.md
  packages/units-helper/__tests__/SizeUnit.ts
  packages/units-helper/__tests__/TimeUnit.ts
  packages/units-helper/jest.config.js
  packages/units-helper/package.json
  packages/units-helper/src/SizeUnit.ts
  packages/units-helper/src/TimeUnit.ts
  packages/units-helper/src/index.ts
  packages/units-helper/tsconfig.json
  packages/units-helper/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

vite-build-time-environment + vite-dynamic-environments (#11)
  package-lock.json
  packages/vite-build-time-environment/.npmignore
  packages/vite-build-time-environment/README.md
  packages/vite-build-time-environment/client.d.ts
  packages/vite-build-time-environment/package.json
  packages/vite-build-time-environment/src/buildTimeEnvironmentSupport.ts
  packages/vite-build-time-environment/tsconfig.json
  packages/vite-build-time-environment/tsup.config.ts
  packages/vite-dynamic-environments/.npmignore
  packages/vite-dynamic-environments/README.md
  packages/vite-dynamic-environments/client.d.ts
  packages/vite-dynamic-environments/package.json
  packages/vite-dynamic-environments/src/dynamicEnvironmentsSupport.ts
  packages/vite-dynamic-environments/src/index.ts
  packages/vite-dynamic-environments/tsconfig.json
  packages/vite-dynamic-environments/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/configurable-media-context
  README.md
  README_RU.md
  package-lock.json
  packages/configurable-media-context/.gitignore
  packages/configurable-media-context/.npmignore
  packages/configurable-media-context/README.md
  packages/configurable-media-context/package.json
  packages/configurable-media-context/src/ConfigurableMediaContext.tsx
  packages/configurable-media-context/src/index.ts
  packages/configurable-media-context/tsconfig.json
  packages/configurable-media-context/tsup.config.ts
  packages/units-helper/package.json
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/configurable-media-context@2.0.0
  packages/configurable-media-context/README.md
  packages/configurable-media-context/package.json
  packages/configurable-media-context/src/ConfigurableMediaContext.tsx
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/vite-build-time-environment@0.0.6: add vite 6 support; update README.md
  package-lock.json
  packages/vite-build-time-environment/README.md
  packages/vite-build-time-environment/README_RU.md
  packages/vite-build-time-environment/package.json
Due: prettier --write

@37bytes/vite-dynamic-environments@0.0.4: add vite 6 support
  packages/vite-dynamic-environments/package.json
Due: prettier --write

MARALL-12430 [frontend] Обновление механизма кэширования в рейтинге
  package-lock.json
  packages/vite-dynamic-environments/jest.config.cjs
  packages/vite-dynamic-environments/package.json
  packages/vite-dynamic-environments/src/dynamicEnvironmentsSupport.ts
  packages/vite-dynamic-environments/src/utils/__tests__/generateScript.test.ts
  packages/vite-dynamic-environments/src/utils/__tests__/getDynamicEnvironment.test.ts
  packages/vite-dynamic-environments/src/utils/__tests__/getLast.test.ts
  packages/vite-dynamic-environments/src/utils/generateScript.ts
  packages/vite-dynamic-environments/src/utils/getDynamicEnvironment.ts
  packages/vite-dynamic-environments/src/utils/getLast.ts
  packages/vite-dynamic-environments/tsup.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/logstory@2.0.0
  packages/logstory/README.md
  packages/logstory/README_RU.md
  packages/logstory/package.json
  packages/logstory/src/LoggerTypes.ts
  packages/logstory/src/__tests__/createLogger.test.ts
  packages/logstory/src/createLogStory.ts
  packages/logstory/src/createLogstory.ts
  packages/logstory/src/index.ts
  packages/logstory/src/utils/index.ts
  packages/logstory/tsconfig.json
  packages/logstory/tsup.config.ts
  packages/logstory/vitest.config.ts
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/code-style@0.0.2
  .gitHooks/setupGitHooks.mjs
  packages/code-style/CHANGELOG.md
  packages/code-style/__tests__/fixtures.test.js
  packages/code-style/__tests__/hybrid-idempotency.test.js
  packages/code-style/__tests__/integration.test.js
  packages/code-style/__tests__/naming-conventions.test.js
  packages/code-style/biome/config.json
  packages/code-style/eslint/config.js
  packages/code-style/eslint/index.js
  packages/code-style/eslint/rules/javascript.js
  packages/code-style/package.json
  packages/code-style/typescript/base.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): vendor eslint-plugin-promise (unblock ESLint 10)
  packages/code-style/eslint.config.js
  packages/code-style/eslint/config.js
  packages/code-style/eslint/plugins/vendored-promise/LICENSE.md
  packages/code-style/eslint/plugins/vendored-promise/NOTICE.md
  packages/code-style/eslint/plugins/vendored-promise/index.js
  packages/code-style/eslint/plugins/vendored-promise/lib/eslint-compat.js
  packages/code-style/eslint/plugins/vendored-promise/lib/get-docs-url.js
  packages/code-style/eslint/plugins/vendored-promise/lib/has-promise-callback.js
  packages/code-style/eslint/plugins/vendored-promise/lib/is-callback.js
  packages/code-style/eslint/plugins/vendored-promise/lib/is-inside-promise.js
  packages/code-style/eslint/plugins/vendored-promise/lib/is-member-call-with-object-name.js
  packages/code-style/eslint/plugins/vendored-promise/lib/is-named-callback.js
  packages/code-style/eslint/plugins/vendored-promise/lib/is-promise-constructor.js
  packages/code-style/eslint/plugins/vendored-promise/lib/is-promise.js
  packages/code-style/eslint/plugins/vendored-promise/lib/promise-statics.js
  packages/code-style/eslint/plugins/vendored-promise/rules/no-callback-in-promise.js
  packages/code-style/eslint/plugins/vendored-promise/rules/no-multiple-resolved.js
  packages/code-style/eslint/plugins/vendored-promise/rules/no-return-in-finally.js
  packages/code-style/eslint/plugins/vendored-promise/rules/prefer-await-to-then.js
  packages/code-style/eslint/plugins/vendored-promise/rules/spec-only.js
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style)!: drop eslint-plugin-jest-dom (tech debt, upstream release broken)
  docs/tech-debt.md
  packages/code-style/eslint/config.js
  packages/code-style/eslint/index.js
  packages/code-style/eslint/rules/testing.js
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): add @eslint-react and @stylistic/eslint-plugin-jsx deps
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(code-style)!: migrate React rules to @eslint-react/eslint-plugin
  packages/code-style/__tests__/fixtures.test.js
  packages/code-style/__tests__/naming-conventions.test.js
  packages/code-style/biome/eslint-overrides.js
  packages/code-style/eslint/config.js
  packages/code-style/eslint/rules/index.js
  packages/code-style/eslint/rules/react.js
  packages/code-style/package.json
  packages/configurable-media-context/src/ConfigurableMediaContext.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style)!: bump eslint peer to ^10.0.0
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(code-style): 1.0.0 release notes and version bump
  packages/code-style/CHANGELOG.md
  packages/code-style/package.json
Due: prettier --write

chore(code-style): include vendored-promise LICENSE and NOTICE in tarball
  packages/code-style/package.json
Due: prettier --write

chore(code-style): drop stale jest-dom ref in testingReactConfig docstring
  packages/code-style/eslint/config.js
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): restore lost JSX stylistic rules
  packages/code-style/CHANGELOG.md
  packages/code-style/biome/eslint-overrides.js
  packages/code-style/eslint/config.js
  packages/code-style/eslint/plugins/index.js
  packages/code-style/eslint/plugins/jsx-boolean-value/__tests__/rule.test.js
  packages/code-style/eslint/plugins/jsx-boolean-value/index.js
  packages/code-style/eslint/plugins/jsx-boolean-value/rule.js
  packages/code-style/eslint/plugins/jsx-fragments/__tests__/rule.test.js
  packages/code-style/eslint/plugins/jsx-fragments/index.js
  packages/code-style/eslint/plugins/jsx-fragments/rule.js
  packages/code-style/eslint/rules/index.js
  packages/code-style/eslint/rules/react-stylistic.js
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): allow PascalCase for polymorphic component props
  packages/code-style/NAMING_CONVENTIONS.md
  packages/code-style/__tests__/fixtures/naming-conventions/good/polymorphicComponent.tsx
  packages/code-style/__tests__/naming-conventions.test.js
  packages/code-style/eslint/rules/typescript.js
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): allow PascalCase param rename for polymorphic placeholders
  packages/code-style/NAMING_CONVENTIONS.md
  packages/code-style/__tests__/fixtures/naming-conventions/bad/typescript/pascal-case-parameter.ts
  packages/code-style/__tests__/fixtures/naming-conventions/good/polymorphicComponent.tsx
  packages/code-style/__tests__/naming-conventions.test.js
  packages/code-style/eslint/rules/typescript.js
Due: prettier --write, eslint --max-warnings=0 packages

docs(code-style): document browserslist limitation, drop broken extends recipe
  packages/code-style/README.md
  packages/code-style/browserslist/index.cjs
Due: prettier --write, eslint --max-warnings=0 packages

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,cjs,cts,mjs,mts,css,json}
  eslint --max-warnings=0 packages: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
