Repository 37bytes/public-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0 packages

chore(code-style)\!: bump @eslint-react/eslint-plugin to 5.x
  packages/code-style/eslint/rules/react.js
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0 packages

docs(code-style): record deps refresh in changelog
  packages/code-style/CHANGELOG.md
Due: none

docs(code-style): add AGENTS.md with three-tree sync and parity protocols
  packages/code-style/AGENTS.md
Due: none

fix(code-style): version-key biome schema cache and refresh gap evidence
  packages/code-style/.gitignore
  packages/code-style/__tests__/parity/generate-biome-domain-rules.js
  packages/code-style/__tests__/parity/known-gaps.js
  packages/code-style/__tests__/parity/rule-equivalence.js
  packages/code-style/biome/build.js
  packages/code-style/biome/config.json
  packages/code-style/biome/rules/nextjs.js
Due: prettier --write, eslint --max-warnings=0 packages

docs(code-style): raise known-gaps ceiling to 45 and add CLAUDE.md companion
  packages/code-style/CLAUDE.md
  packages/code-style/__tests__/parity/known-gaps.js
Due: prettier --write, eslint --max-warnings=0 packages

chore(code-style): pin dependency-cruiser 17.4.3 (peer+dev)
  packages/code-style/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(code-style): dependency-cruiser base preset (full init set)
  packages/code-style/__tests__/dependency-cruiser-base.test.js
  packages/code-style/__tests__/fixtures/cruise-base-project/.dependency-cruiser.mjs
  packages/code-style/__tests__/fixtures/cruise-base-project/package.json
  packages/code-style/__tests__/fixtures/cruise-base-project/src/a.ts
  packages/code-style/__tests__/fixtures/cruise-base-project/src/b.ts
  packages/code-style/__tests__/fixtures/cruise-base-project/src/orphan.ts
  packages/code-style/__tests__/fixtures/cruise-base-project/src/unresolvable.ts
  packages/code-style/__tests__/fixtures/cruise-base-project/tsconfig.json
  packages/code-style/dependency-cruiser/base.js
  packages/code-style/dependency-cruiser/options.js
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): dependency-cruiser FSD preset (37bytes FSD 2.1, graph half)
  packages/code-style/__tests__/dependency-cruiser-fsd.test.js
  packages/code-style/__tests__/fixtures/fsd-cruise-project/.dependency-cruiser.mjs
  packages/code-style/__tests__/fixtures/fsd-cruise-project/package.json
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/app/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/session/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/@x/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/@x/session.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/api/getUser.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/model/types.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/server.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/api/login.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/client.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/model/store.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/server.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/search/client.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/search/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/search/server.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/pages/dashboard/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/pages/home/components/Button.tsx
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/pages/home/components/icon/Icon.tsx
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/pages/home/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/pages/home/ui/HomePage.tsx
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/api/base.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/api/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/config/theme.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/lib/classNames/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/lib/classNames/utils.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/ui/Button.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/ui/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/header/api/getHeader.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/header/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/header/ui/Header.tsx
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/sidebar/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/tsconfig.json
  packages/code-style/dependency-cruiser/base.js
  packages/code-style/dependency-cruiser/fsd.js
Due: prettier --write, eslint --max-warnings=0 packages

fix(code-style): fsd cruiser preset review fixes (capture-group contract, fixture annotations, flat-rule coverage)
  packages/code-style/__tests__/dependency-cruiser-fsd.test.js
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/app/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/api/getUser.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/model/types.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/server.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/api/login.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/client.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/model/store.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/server.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/pages/home/components/Button.tsx
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/lib/classNames/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/header/api/getHeader.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/header/ui/Header.tsx
  packages/code-style/dependency-cruiser/fsd.js
Due: prettier --write, eslint --max-warnings=0 packages

feat(code-style): export @37bytes/code-style/dependency-cruiser
  packages/code-style/__tests__/dependency-cruiser-base.test.js
  packages/code-style/__tests__/fixtures/cruise-base-project/.dependency-cruiser.mjs
  packages/code-style/__tests__/fixtures/fsd-cruise-project/.dependency-cruiser.mjs
  packages/code-style/dependency-cruiser/fsd.js
  packages/code-style/dependency-cruiser/index.js
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

fix(code-style): narrow dependency-cruiser public exports to factories
  packages/code-style/dependency-cruiser/index.js
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

docs(code-style): dependency-cruiser presets - protocols, consumer guide, changelog
  packages/code-style/AGENTS.md
  packages/code-style/CHANGELOG.md
  packages/code-style/README.md
Due: none

docs(code-style): fix dependency-cruiser baseline workflow commands, refresh parity count
  packages/code-style/AGENTS.md
  packages/code-style/README.md
Due: none

docs(code-style): design depcruise fixture hygiene
  docs/superpowers/specs/2026-07-17-depcruise-fixture-hygiene-design.md
Due: none

docs(code-style): use side-effect graph imports
  docs/superpowers/specs/2026-07-17-depcruise-fixture-hygiene-design.md
Due: none

docs(code-style): plan depcruise fixture hygiene
  docs/superpowers/plans/2026-07-17-depcruise-fixture-hygiene.md
  docs/superpowers/specs/2026-07-17-depcruise-fixture-hygiene-design.md
Due: none

test(code-style): clarify base cruise cycle fixture
  packages/code-style/__tests__/dependency-cruiser-base.test.js
  packages/code-style/__tests__/fixtures/cruise-base-project/src/a.ts
  packages/code-style/__tests__/fixtures/cruise-base-project/src/b.ts
  packages/code-style/__tests__/fixtures/cruise-base-project/src/first.ts
  packages/code-style/__tests__/fixtures/cruise-base-project/src/second.ts
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): add reusable fixture hygiene
  packages/code-style/__tests__/dependency-cruiser-fixtures-hygiene.test.js
  packages/code-style/__tests__/fixture-hygiene.js
  packages/code-style/__tests__/fixtures/cruise-base-project/src/unresolvable.ts
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): cover fixture preset behavior
  packages/code-style/__tests__/dependency-cruiser-fixtures-hygiene.test.js
Due: prettier --write, eslint --max-warnings=0 packages

test(code-style): harden depcruise fixtures
  packages/code-style/__tests__/dependency-cruiser-fixtures-hygiene.test.js
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/app/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/api/getUser.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/entities/user/model/types.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/api/login.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/features/auth/model/store.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/markers.d.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/pages/home/components/Button.tsx
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/shared/lib/classNames/index.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/header/api/getHeader.ts
  packages/code-style/__tests__/fixtures/fsd-cruise-project/src/widgets/header/ui/Header.tsx
  packages/code-style/__tests__/fixtures/fsd-cruise-project/tsconfig.json
Due: prettier --write, eslint --max-warnings=0 packages

fix(code-style): avoid await member expression
  packages/code-style/__tests__/fixture-hygiene.js
Due: prettier --write, eslint --max-warnings=0 packages

docs(code-style): align fixture hygiene plan
  docs/superpowers/plans/2026-07-17-depcruise-fixture-hygiene.md
Due: none

test(code-style): tighten fixture hygiene contracts
  docs/superpowers/plans/2026-07-17-depcruise-fixture-hygiene.md
  packages/code-style/__tests__/dependency-cruiser-fixtures-hygiene.test.js
Due: prettier --write, eslint --max-warnings=0 packages

chore: remove completed code-style roadmap
  FIXME_ROADMAP.md
Due: none

@37bytes/code-style@0.0.4
  packages/code-style/CHANGELOG.md
  packages/code-style/__tests__/fixtures/import-graph-project/src/acyclicConsumer.ts
  packages/code-style/__tests__/fixtures/import-graph-project/src/alpha.ts
  packages/code-style/__tests__/fixtures/import-graph-project/src/beta.ts
  packages/code-style/__tests__/fixtures/import-graph-project/src/leaf.ts
  packages/code-style/__tests__/fixtures/import-graph-project/src/missingNamedImport.ts
  packages/code-style/__tests__/fixtures/import-graph-project/tsconfig.json
  packages/code-style/__tests__/fsd-e2e.test.js
  packages/code-style/__tests__/import-graph.test.js
  packages/code-style/__tests__/resolver-loading.test.js
  packages/code-style/eslint/config.js
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/code-style@0.0.5
  packages/code-style/CHANGELOG.md
  packages/code-style/README.md
  packages/code-style/__tests__/parser-loading.test.js
  packages/code-style/eslint/config.js
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

@37bytes/code-style@0.0.6
  packages/code-style/.oxlintrc.json
  packages/code-style/CHANGELOG.md
  packages/code-style/README.md
  packages/code-style/__tests__/fixtures/misused-promises/condition.ts
  packages/code-style/__tests__/fixtures/misused-promises/for-each.ts
  packages/code-style/__tests__/fixtures/misused-promises/inherited-method.ts
  packages/code-style/__tests__/fixtures/misused-promises/plain-component.jsx
  packages/code-style/__tests__/fixtures/misused-promises/promise-spread.ts
  packages/code-style/__tests__/fixtures/misused-promises/tsconfig.json
  packages/code-style/__tests__/fixtures/misused-promises/void-argument-in-tsx.tsx
  packages/code-style/__tests__/fixtures/misused-promises/void-argument.ts
  packages/code-style/__tests__/fixtures/misused-promises/void-attribute.tsx
  packages/code-style/__tests__/fixtures/misused-promises/void-variable.ts
  packages/code-style/__tests__/fixtures/parity/spa/parity-react.tsx
  packages/code-style/__tests__/no-misused-promises.test.js
  packages/code-style/__tests__/parity-presets.check.js
  packages/code-style/biome/rules/typescript.js
  packages/code-style/docs/oxlint.md
  packages/code-style/eslint/config.js
  packages/code-style/eslint/index.js
  packages/code-style/eslint/rules/index.js
  packages/code-style/eslint/rules/react.js
  packages/code-style/eslint/rules/typescript.js
  packages/code-style/oxlint/build.js
  packages/code-style/oxlint/config.json
  packages/code-style/oxlint/index.js
  packages/code-style/oxlint/infrastructure.js
  packages/code-style/oxlint/rules/index.js
  packages/code-style/oxlint/rules/react.js
  packages/code-style/oxlint/rules/typescript.js
  packages/code-style/oxlint/type-aware-overrides.js
  packages/code-style/package.json
Due: prettier --write, eslint --max-warnings=0 packages

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,cjs,cts,mjs,mts,css,json}
  eslint --max-warnings=0 packages: any of: *.{js,ts,jsx,tsx,mjs,mts,cjs,cts}
